<!DOCTYPE html>
<html>
  <head>
    <title>Reading List</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <script src="/public/app.js"></script>
  </head>
  <body>
    <h1><a href="/">Books I read...</a></h1>
    {{{body}}}
  </body>
</html>
